{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid text-center">
    <div class="card container my-5 mx-auto" style="max-width: 80rem;">
        <div class="card-body">
            <h5 class="card-title fs-1">Un vistazo a mi vida</h5>
            <p class="card-text">{{ bienvenida }}, me llamo Raúl, soy valdiviano y vivo en chancoyan, una zona cercana a valdivia pero más campesina. Actualmente estoy estudiando Ingeniería en informática en Inacap y voy en mi 4to semestre. Me gusta mucho la música, no hay trabajo ni tarea que haga sin música con el volumen al máximo, mi color favorito es el verde y el que menos me gusta es el rojo. Me gusta tocar guitarra y programar, puedo pasar horas haciendo cualquiera de estas sin darme cuenta del tiempo que pasó.</p>
            <p class="card-text">Mi familia consta de mi papá, mi mamá, mis 2 hermanos, mi perrita Mara y yo, siempre que podemos nos juntamos todos pero al vivir alejados se nos complica bastante. Lo que más me motiva a seguir adelante son la música y mis amigos, gracias a ellos y mi familia he logrado entrar a una carrera que me gusta y poder levantarme cuando me caigo.</p>
            <p class="card-text"> Esta es mi pequeña historia, ahora, {{ mensaje }} </p>
            <a class="btn btn-secondary" href="/projects">Ve mis proyectos</a>
        </div>
        <img src="{% static 'img/yo.jpg' %}" class=" card-img-bottom img-fluid rounded mt-3 pb-3" style="max-height: 450px; object-fit: cover;" alt="Foto personal">
    </div>
</div>

{% endblock %}