{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid text-center">

    <h2 class="my-4">{{ titulo }}</h2>
    
    <div class="mb-4">
        <a href="{% url 'projects' %}?status=en_desarollo" class="btn boton-desarrollo me-4">En desarrollo</a>
        <a href="{% url 'projects' %}?status=finalizados" class="btn boton-finalizado me-2">Finalizados</a>
    </div>

    {% for project in projects %}
        <div class="card container-fluid my-5 mx-auto" style="max-width: 50rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col col-texto">
                        <h5 class="card-title fs-1"> {{ project.title }}</h5>
                        <p class="card-text fs-3">{{ project.description }}</p>
                        <p>
                            {% if project.in_progress %}
                                <span class="badge bg-secondary">En desarrollo</span>
                            {% else %}
                                <span class="badge bg-success">Finalizado</span>
                            {% endif %}
                        </p>
                    </div> 
                    <div class="col pb-3">
                        <img src="{% static 'img/'|add:project.image %}" class="img-fluid rounded mt-3" style="max-height: 200px; object-fit: cover;" alt="{{ project.title }}">
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No hay proyectos en esta categoría</p>
    {% endfor %}
</div>

{% endblock %}